*{
    margin: 0px;
    padding: 0px;
}
.log
{
    align-items: center;
    background-color: aqua;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
}